.backdrop

include ./structure/header.pug

section.intro
	include ./structure/intro.pug

section.services
	include ./structure/services.pug

-# Transition
.services-to-contact
	include ./structure/services-to-contact.pug

section.contact
	include ./structure/contact.pug

include ./structure/svg.pug

include ./structure/footer.pug
