include ./structure/header.pug

a#anchor-hero
include ./structure/hero.pug

a#anchor-services
include ./structure/services.pug

a#anchor-portfolio
include ./structure/portfolio.pug

a#anchor-contact
include ./structure/contact.pug

a#anchor-footer
include ./structure/footer.pug
