.greeting

	h1 Reid Litkauo
	
	p Full-Stack Web Developer

	p
		| I&#x2019;m a self-taught programmer &amp; web developer specializing in
		| custom, full-service web solutions for individuals and small businesses.

	p
		| From initial concept through launch and continued maintenance, I can be
		| your one-stop shop for your entire web presence.

	a.button.cta(href='#anchor-contact') Contact Me

	a.whatisthis(href='' aria-hidden='true' tabindex='-1') What&#x2019;s this background animation?
