.interact

	.card.card-1
		
		p
			| This is a visualization of a neural network reading hand-written
			| numbers, running right inside your web browser!
		
		button NEXT
		
	.card.card-2
	
		p
			| I set up a neural network using
			|
			a(href='https://brain.js.com' target='_blank' rel='noopener noreferrer')
				| Brain.js
			|
			| and trained it using the
			|
			a(href='http://yann.lecun.com/exdb/mnist/' target='_blank' rel='noopener noreferrer')
				| MNIST database of handwritten digits
			| .
	
		button NEXT
	
	.card.card-3
	
		p
			| This diagram shows the artificial brain&#x2019;s neurons &amp;
			| connections firing.
	
		button NEXT
	
	.card.card-4

		p Here&#x2019;s the neural network&#x2019;s 96%-accurate guess!
		
		.button-container
			-#button.try TRY IT OUT
			button.cancel GO BACK
