.nn

	.network

		-# Ratio of 3 wide : 53 tall
		-# 16 neurons tall, each neuron 3 "units" tall
		-# including an internal border 1/3 units tall
		-# and 1/3 unit spacing between each neuron
		-# One of these "units" is 60 pixels
		.neurons.layer-0
			canvas.btm(width='180' height='3180')
			canvas.top(width='180' height='3180')
		.neurons.layer-1
			canvas.btm(width='180' height='3180')
			canvas.top(width='180' height='3180')
		.neurons.layer-2
			canvas.btm(width='180' height='3180')
			canvas.top(width='180' height='3180')
		
		.connections.layer-0
			canvas.btm(width='970' height='3180')
			canvas.top(width='970' height='3180')
		.connections.layer-1
			canvas.btm(width='970' height='3180')
			canvas.top(width='970' height='3180')


	-# Interact with the network
	.io

		-# "Try it" button
		-# TODO
		-#button.info What's this?
		
		-# Displays the input as 28*28 squares
		.input
			canvas(width='560' height='560')
		
		-# Seven-segment display for output
		.output
			.sevenseg
				.seg-a
				.seg-b
				.seg-c
				.seg-d
				.seg-e
				.seg-f
				.seg-g
