section.contact

	.background

	.transition.from-section-projects.slanty-cut.to-bottom-left

	h2 Contact Me!

	form(method='POST' action='/send-contact-email' data-hook-before-submit='contact_beforeSubmit' data-hook-success='contact_success' data-hook-error='contact_error')
		
		.success(aria-hidden='true')
			span
				p Message sent!
				p I&#x2019;ll be in touch soon!
		
		.fields
		
			- $names =  ['N. K. Jemisin'];
			- $emails = ['nice.client@example.com'];
			
			input.name(type='text' name='name' aria-label='Your Name' placeholder="Your Name")

			input.email(type='email' name='email' aria-label='Your Email' placeholder="Your Email")
			
			textarea(name='message' aria-label='Your Message' placeholder='What can I help you with?')
			
			label.captcha
				div
					span(aria-hidden='true') Generating captcha...
				input(type='text' name='captcha_response' aria-label='' placeholder='Type your answer here...')
			
			-# I will poll /captcha/generate for a captcha, and place it into hidden
			-# inputs that look like this:
			-# input(type='hidden' name='captcha_token[]' value='some_md5_string')
			
			button.cta(type='submit' aria-label='Send Email')
				.default(aria-hidden='true') Send Email
				img.loading(src='/assets/loading.io/Spin-1s-200px.svg' alt='Loading icon' aria-hidden='true')
				.error(aria-hidden='true') An error occurred, please try again.

	.social

		a.discord(href='https://discord.com/channels/@me' target='_blank' rel='nofollow noreferrer')
			img(src='/assets/media-kits/discord/Discord-Logo-Color.svg' alt='Discord')
			span crexalbo#1593

		a.twitter(href='https://twitter.com/ReidLitkauo' target='_blank' rel='nofollow noreferrer')
			img(src='/assets/media-kits/twitter/Twitter_Logo_Blue/Twitter_Logo_Blue.svg' alt='Twitter')
			span @ReidLitkauo

		a.github(href='https://github.com/ReidLitkauo' target='_blank' rel='nofollow noreferrer')
			img(src='/assets/media-kits/github/GitHub-Mark-120px-plus.png' alt='GitHub')
			span @ReidLitkauo

		a.linkedin(href='https://www.linkedin.com/in/reidlitkauo/' target='_blank' rel='nofollow noreferrer')
			img(src='/assets/media-kits/linkedin/LI-In-Bug.png' alt='LinkedIn')
			span @ReidLitkauo

		a.email(href='mailto:reid@litkauo.com' target='_blank' rel='nofollow noreferrer')
			img(src='/assets/flaticon/freepik/kawaii-mail.svg' alt='Email')
			span reid@litkauo.com
