h3
	| Hi, I&#x2019;m Reid
	img(src='/assets/openmoji/1F601.svg' alt='Smiley face')

p
	| I&#x2019;m a self-taught web developer specializing in custom,
	| full-service web solutions for individuals and small businesses.

p
	| From initial concept through launch and continued maintenance, I can be
	| your one-stop shop for your entire web presence.

button.cta.contact Contact Me
