section.portfolio

	.header
		.background
		.transition.from-section-services.slanty-cut.to-bottom-right
		h2.wbr-only What have I #[wbr]done for others?
		.transition.from-projects-header.slanty-cut.to-top-left

	.project.kitchen-repose.align-right

		.transition.slanty-cut.to-bottom-right

		.content
		
			h3
			 	a(href='https://kitchenrepose.com' target='blank' rel='noopener noreferrer nofollow') Kitchen Repose
			
			p Menu Publishing & Order Retrieval Automation
			
			p #[strong Technologies:] PHP/WordPress, Google Scripts
			
			p I developed a web flow that automatically publishes prepared weekly menus and aggregates my client&#x2019;s orders into an order dashboard spreadsheet.
		
		.transition.slanty-cut.to-top-right
