-# Required meta tags
meta(charset='utf-8')
meta(name='description' content='Reid Litkauo is a full-stack web developer, specializing in full-service web solutions for individuals and small businesses.')

-# Icons
-# https://github.com/audreyfeldroy/favicon-cheat-sheet
-#link(rel='icon' type='image/jpeg' href='/assets/logo/512.jpg')
link(rel='apple-touch-icon-precomposed' href='/assets/logo/180.png')
meta(name='msapplication-TileColor' content='#040606')
meta(name='msapplication-TileImage' content='/assets/logo/144.png')
meta(name='application-name'        content='Reid Litkauo')
meta(name='msapplication-tooltip'   content="Reid Litkauo's Personal Website")
<meta name="msapplication-tooltip" content="Tooltip">
<meta name="msapplication-config" content="/path/to/ieconfig.xml">
-# SEO and other optimization


meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')

-###############################################################################
-# Dependencies

-# Third-party
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer)

-# Packed common styling/scripting assets
link(rel=stylesheet href="/static/_common.css")
script(src="/static/_common.js" defer)
