-# SEO and other optimization

meta(name="viewport" content="width=device-width, initial-scale=1")

-# Third-party dependencies
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer)

-# Packed common styling/scripting assets
link(rel=stylesheet href="/static/_common.css")
script(src="/static/_common.js" defer)
